output/
__pycache__/
RadarSubSys/__pycache__/
*.pyc
__pycache__/Radar.cpython-310.pyc
__pycache__/Radar.cpython-310.pyc
__pycache__/Radar.cpython-310.pyc
__pycache__/RadarVisualizer.cpython-310.pyc
__pycache__/RfEnvironment.cpython-310.pyc
__pycache__/UtilityFunctions.cpython-310.pyc
RadarSubSys/__pycache__/Receiver.cpython-310.pyc
RadarSubSys/__pycache__/Scanner.cpython-310.pyc
RadarSubSys/__pycache__/SignalProcessor.cpython-310.pyc
__pycache__/RadarVisualizer.cpython-310.pyc
__pycache__/Radar.cpython-39.pyc
__pycache__/RfEnvironment.cpython-39.pyc
__pycache__/UtilityFunctions.cpython-39.pyc
RadarSubSys/__pycache__/SignalProcessor.cpython-39.pyc
__pycache__/Radar.cpython-310.pyc
__pycache__/RfEnvironment.cpython-310.pyc
__pycache__/Radar.cpython-39.pyc
__pycache__/RadarVisualizer.cpython-39.pyc
__pycache__/RfEnvironment.cpython-39.pyc
__pycache__/UtilityFunctions.cpython-39.pyc
RadarSubSys/__pycache__/SignalProcessor.cpython-39.pyc
__pycache__/Radar.cpython-311.pyc
__pycache__/RadarVisualizer.cpython-311.pyc
__pycache__/RfEnvironment.cpython-311.pyc
__pycache__/Scenario.cpython-311.pyc
__pycache__/ScenarioProcessor.cpython-311.pyc
__pycache__/UtilityFunctions.cpython-311.pyc
RadarSubSys/__pycache__/Receiver.cpython-311.pyc
RadarSubSys/__pycache__/Scanner.cpython-311.pyc
RadarSubSys/__pycache__/SignalProcessor.cpython-311.pyc
RadarSubSys/__pycache__/Tracker.cpython-311.pyc
output/AntennaAngles.csv
output/BarsWithDetections.csv
output/BarTimes.csv
output/ClutterVelocities.csv
output/DetectionReports.csv
output/Echoes.csv
__pycache__/Radar.cpython-310.pyc
__pycache__/RfEnvironment.cpython-310.pyc
output/.ipynb_checkpoints/RadarSimResults-checkpoint.ipynb
output/RadarSimResults.ipynb
output/RangeEclipsedEchoes.csv
